body,
html {
    /* background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(../image/back.jpg); */
    background-image: linear-gradient(rgb(62, 225, 203), rgb(27, 108, 111));
    background-size: cover;
    background-position: center;
    font-family: 'lato';
    font-size: 18px;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 1000px;
    left: 50%;
    top: 50%;
    position: absolute;
    background-color: #fff;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.active {
    background-color: #f7f7f7;
}

.active .player-name {
    font-weight: 300;
    color: #222;
}

.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #EB4D4D;
    top: -7px;
    right: 10px;
}

.player-1-panel,
.player-0-panel {
    width: 50%;
    float: left;
    padding: 100px;
    text-align: center;
    box-sizing: border-box;
}

.player-name {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    font-size: 80px;
    font-weight: 100;
    color: #eb4d4d;
    margin-bottom: 130px;
}

.player-current-box {
    background-color: #eb4d4d;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222;
}

.player-current-score {
    font-size: 30px;
}

.btn {
    cursor: pointer;
    color: #555;
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    background: none;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 20px;
    margin-top: 20px;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    font-weight: 500;
    color: #222;
}

.btn:hover img {
    margin-right: 10px;
}

.btn-new {
    top: 10px;
}

.btn-roll {
    top: 400px;
}

.btn-hold {
    top: 450px;
}

.btn img {
    width: 40px;
    height: 40px;
    vertical-align: -13px;
    margin-right: 5px;
}

.dice {
    position: absolute;
    left: 50%;
    top: 178px;
    transform: translateX(-50%);
    transition: all .3s;
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

#dice-1 {
    top: 120px;
}

#dice-2 {
    top: 250px;
}

.winner {
    color: rgb(15, 165, 83);
}

.start-form {
    transition: .4s;
    z-index: 200;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -700px;
    width: 400PX;
    background: #f5f5f5;
    padding: 20px 30px 20px 20px;
}

.input-lable {
    margin-bottom: 10px;
}

#set_defult,
#submit {
    display: block;
    color: #f5f5f5;
    margin: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 2px;
    border: none;
}

#set_defult {
    background-color: #c5c3c3;
    outline: none;
}

#submit {
    background-color: #4CAF50;
    text-decoration: none;
    outline: none;
}

#set_defult:hover {
    background-color: #a3a1a1;
    cursor: pointer;
    box-shadow: -1px 3px 3px 0px rgba(0, 0, 0, 0.24);
}

#submit:hover {
    background-color: rgb(39, 139, 43);
    cursor: pointer;
    box-shadow: -1px 6px 8px 0px rgba(0, 0, 8, 0.24);
}

.input {
    vertical-align: middle;
    color: #555;
    font-family: 'lato';
    outline: none;
    padding: 8px;
    width: 100%;
    text-transform: lowercase;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
    border: 1px solid transparent;
    border-radius: 2PX;
    margin-top: 5px;
}

.input:focus {
    border: 1px solid #8f8b8b;
}

.wrapper-input {
    display: block;
    padding: 10PX;
}

.dark-bg {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.heder-title {
    display: inline-block;
    margin: 0px 0 10px 10px;
}

.close-icon {
    vertical-align: middle;
    position: absolute;
    right: 20px;
    top: 27px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: .5;
}

.close-icon:hover {
    opacity: 1;
}

.wrapper-score {
    position: absolute;
    top: 520px;
    left: 50%;
    transform: translate(-50%);
    color: #555;
    font-size: 18px;
    font-family: 'lato';
    text-align: center;
    outline: none;
    padding: 10px;
    width: 160px;
    text-transform: uppercase;
}

.show-score {
    display: inline-block;
}